* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Roboto Light', sans-serif;
}

a {
  all: unset;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  list-style-type: none;
}
